:root {
  --maim-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --hero-title-color: #ffffff;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}
/* font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

/* ======= COMMON ======= */
body {
  font-family: var(--maim-font);
  font-style: normal;
  color: var(--title-color);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.address {
  font-style: normal;
}

/* ======= END COMMON ======= */

/* ======= LOGO ======= */
.nav-logo,
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.nav-logo {
  font-family: var(--secondary-font);
  color: #000000;
}
.logo-web {
  color: var(--accent-color);
}
.footer-logo {
  font-family: var(--secondary-font);
  color: var(--hero-title-color);
}
/* ======= END LOGO ======= */

/* ======= HEADER ======= */
.header-nav-link,
.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.header-nav-link {
  color: var(--title-color);
}
.header-address-link {
  color: var(--text-color);
}
.header-nav-link:hover,
.header-nav-link:focus,
.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}
.active-page {
  color: var(--accent-color);
}
/* ======= END HEADER ======= */

/* ======= HERO ======= */
.hero {
  text-align: center;
  /* background - временно пока нет картинки на фон */
  background: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

.button-services {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}
/* ======= END HERO ======= */

/* ======= FEATURES ======= */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ======= END FEATURES ======= */

/* ======= SERVICES ======= */
.services-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ======= END SERVICES ======= */

/* ======= COMMAND ======= */
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  /* text-align: center; */
  letter-spacing: 0.03em;
}
.command-item-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* ======= END COMMAND ======= */

/* ======= FOOTER ======= */
.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
}
.map {
  color: var(--hero-title-color);
}
.footer {
  background: #2f303a;
}
/* ======= END FOOTER ======= */

/* ======= PORTFOLIO ======= */
.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: #e5e5e5;
}
.button-filter:hover,
.button-filter:focus {
  color: var(--hero-title-color);
  background: var(--accent-color);
}
.portfolio-item-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.porfolio-item-filter {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
/* =======  END PORTFOLIO ======= */
